go 1.19
use (
	package/core

	./package/technique/configuration

	package/extension/echofx
	package/extension/logfx
	package/extension/i18nfx
	package/extension/kafkafx
	package/extension/httpfx
    package/extension/mongofx
	package/extension/asynqfx
	package/extension/grpcfx

	package/technique/validate
	package/technique/mongo
	package/technique/health
	package/technique/version


	package/technique/cache
	package/common/query-builder
	package/technique/pagination


)
replace (
    github.com/sigmaott/gest/package/core v0.0.1 => ./package/core
    github.com/sigmaott/gest/package/common/config v0.0.1 => ./package/technique/config
    github.com/sigmaott/gest/package/common/pagination v0.0.1 => ./package/technique/pagination
    github.com/sigmaott/gest/package/extension/echofx v0.0.1 => ./package/extension/echofx
	github.com/sigmaott/gest/package/extension/logfx v0.0.1  => ./package/extension/logfx
	github.com/sigmaott/gest/package/extension/i18nfx v0.0.1 => ./package/extension/i18nfx
	github.com/sigmaott/gest/package/extension/kafkafx v0.0.1 => ./package/extension/kafkafx
	github.com/sigmaott/gest/package/technique/validate v0.0.1 => ./package/technique/validate
	github.com/sigmaott/gest/technique/health v0.0.1 => ./package/technique/validate
	github.com/sigmaott/gest/package/technique/mongo v0.0.1 => ./package/technique/mongo
	github.com/sigmaott/gest/package/technique/version v0.0.1 => ./package/technique/version

)